/WizardDeck.class
/Wizard_Test_Equipment.class
/WizardRobe.class
/MagicMissile.class
/WizardWand.class
/Phylactery.class
/MuscleWizard.class
/CursedDie.class
/Burninatro.class
/Burninator.class
/IceSpell.class
