/RogueDeck.class
/Rogue_Test_Equipment.class
/BootsOfSwiftness.class
/BowOfFortune.class
/CardboardBox.class
/CheapShot.class
/MaskOfTheShadow.class
/MithrilArmor.class
/PoulticeOfIntellect.class
/TwinDaggers.class
