/Character.class
/Knight.class
/Rogue.class
/Test_Character_Norm.class
/Test_MainCharacters.class
/Warrior.class
/Wizard.class
/MinorCharSteven.class
/MinorCharRudolph.class
/MinorCharDragon.class
/MinorCharThief.class
/MinorCharFighter.class
