/Armor.class
/BaseDeck.class
/BrokenSword.class
/BubonicPlague.class
/Cloak.class
/CursedStilts.class
/Dagger.class
/DunceCap.class
/Shield.class
/Spear.class
/Spellbook.class
/Sword.class
/WizardStaff.class
